@model PersonLogin

@{
    ViewData["Title"] = "Rider Login";
}

<div class="overlay-box">
    <p>PLEASE LOGIN TO CONTINUE</p>
    <form asp-action="Index" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Username" style="text-align: right"></label>
            <input asp-for="Username" class="form-control" id="username" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" style="text-align: right"></label>
            <input asp-for="Password" class="form-control" id="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group" style="margin-top: 20px;">
            <input type="submit" value="Login" class="btn btn-outline-success float-right" />
            <a class="btn btn-outline-secondary" asp-action="Index" asp-controller="Home">BACK</a>
            <a class="btn btn-outline-danger" asp-action="Register" asp-controller="CustomerLogins">Register</a>
        </div>
    </form>
</div>

<style>
    .overlay-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 50px;
        text-align: center;
        border: 5px solid black;
        border-radius: 10px;
        color: black;
    }

        .overlay-box form {
            margin-top: 20px;
        }

        .overlay-box label {
            display: inline-block;
            width: 100px;
            text-align: center;
            font-weight: bold;
            margin-bottom: 20px; /* Added margin-bottom for spacing */
        }






        .overlay-box button:hover {
            background-color: red;
            color: white;
        }
</style>
