@*Define Model*@

@model IEnumerable<RideBooking>

@*Define View Data*@

@{
    ViewData["Title"] = "List of Persons Regestered";
}

@*Write Code*@

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <div class="d-flex justify-content-between">
                                <a class="btn btn-outline-primary me-2" asp-action="Details" asp-controller="RideBookings" asp-route-id="@item.Bookingid">
                                    <i class="bi bi-pencil-square"></i>Details
                                </a>
                                
                                <style>
                                    .delete-btn {
                                        color: red;
                                        border-color: red;
                                    }

                                        .delete-btn:hover {
                                            color: white !important;
                                            background-color: red !important;
                                            border-color: red !important;
                                        }
                                </style>

                                <style>

                                    .detail-btn:hover {
                                        color: white !important;
                                    }
                                </style>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div style="position: fixed; left: 25px; button: 25px;" class="form-group">
    <a asp-controller="CarRegShows" asp-action="RiderRides" class="btn btn-outline-success">BACK</a>
</div>